/* _content/Ducktory/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-0v8dobaw0m] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-0v8dobaw0m] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Ducktory/Components/Pages/Home.razor.rz.scp.css */
.main-container[b-5pfh1bs15d]{
    width: 100vw;
    height: 100dvh;
}

html[b-5pfh1bs15d], body[b-5pfh1bs15d] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("https://benjaminbiber.github.io/Ducktory/BKG.png");
    background-size: 100px;
}
