.main-container[b-5pfh1bs15d]{
    width: 100vw;
    height: 100dvh;
}

html[b-5pfh1bs15d], body[b-5pfh1bs15d] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("https://benjaminbiber.github.io/Ducktory/BKG.png");
    background-size: 100px;
}