.main-container[b-ob25z11umk]{
    width: 100vw;
    height: 100dvh;
}

html[b-ob25z11umk], body[b-ob25z11umk] {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("https://benjaminbiber.github.io/Ducktory/BKG.png");
    background-size: 100px;
}